/* For Tablets */
@media all and (max-width: 1000px) {
    #about-me-wrapper {
        padding-top: 120px;
    }
    #display-image {
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    #display-image img {
        width: 100%;
        border-radius: 50%;
    }
    #about-me-contents {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 2%;
        padding-left: 0;
        margin-right: 24px;
    }
    #about-me-contents h1 {
        font-size: 38px;
        margin-bottom: 38px;
    }
    #about-me-contents p {
        font-size: 20px;
    }
    #about-me-contents p:last-of-type {
        font-size: 18px;
        padding: 0 100px;
        text-align: justify;
    }
    
    .icon {
        float: left;
        width: 50%;
        margin-bottom: 5%;
    }
    .project {
        width: 50%;
        margin-bottom: 5%;
    }
    .project-content {
        height: 10%;
    }
}
  
/* For Smartphones */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }
    #about-me-wrapper {
        padding-top: 100px;
    }
    #display-image {
        display: block;
        width: 50%;
        text-align: center;
    }
    #display-image img {
        width: 100%;
        border-radius: 50%;
    }
    #about-me-contents {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 2%;
        padding-left: 0;
        margin-right: 24px;
    }
    
    #about-me-contents p:last-of-type {
        padding: 0 80px;
    }
    .icon {
        float: left;
        width: 100%;
        margin-bottom: 10%;
    }
    .project {
        width: 100%;
        margin-bottom: 12%;
    }
    .social-media {
        padding-left: 100px;
    }
}
